<div id="job-detail-wrapper">
  <div id="language-selection">
    <a href="javascript:void();" (click)="languageService.setLanguage('pt-BR')"><img src="./assets/images/brazil.svg"></a>
    <a href="javascript:void();" (click)="languageService.setLanguage('en-US')"><img src="./assets/images/united-states.svg"></a>
  </div>
  <div (click)="back()" id="job-detail-back">
    < Back
  </div>
  <h1 id="job-detail-title">
    {{ job.titleWithBrackets() }}
  </h1>
  <p id = "job-detail-description">
    {{ job.descriptions[getLanguage()] }}
  </p>
  <div
    [innerHTML]="job.show()"
    id="job-detail-sample">
  </div>
  
  
</div>

