<!--The content below is only a placeholder and can be replaced.-->
Selected Category: {{selectedCategory}}
<div id="home-wrapper">
  <ul class = "categories">
    
    <li
        (click) = "selectCategory(category.id)"
        *ngFor="let category of categoriesNames"
        [class.selected] = " selectedCategory == category.id ">
            {{ category.name }}
    </li>
  </ul>
  <div id="jobs-wrapper">
      <div
        *ngFor="let job of jobs"
        class="job"
        >
            <a href="/detail/{{job.id}}" class="job-link">
                <img src="{{job.thumbnail}}" />
            </a>
    
      </div>
  </div>
</div>