<!--The content below is only a placeholder and can be replaced.-->
Selected Category: {{selectedCategory}}
<div style="text-align:center">
  <ul class = "categories">
    <li (click)="selectCategory(1)">
        Javascript
    </li>
    <li (click)="selectCategory(2)">
        Android
    </li>
    <li (click)="selectCategory(3)">
        C
    </li>
    <li (click)="selectCategory(4)">
        Java
    </li>
    <li (click)="selectCategory(5)">
        Unity
    </li>
    <li (click)="selectCategory(6)">
        Unreal
    </li>
    <li (click)="selectCategory(99)">
        Other
    </li>
  </ul>
  <div
    *ngFor="let job of jobs"
    >
        <a href="/detail/{{job.id}}">{{job.title}}</a>
  </div>
</div>