
ul.categories{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-family: Lucida Console
}
ul.categories li{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 5px;

}

ul.categories li.selected{
    color: #841ec9;
    border: 1px;
    border-color: #ff6721;
    border-style: dashed
}

div.job{
    display: inline-block;
    margin: 10px;
}


#jobs-wrapper{
    display: flex;
    flex-direction: row;
    margin-left:50px;
    width: 500px;
    flex-wrap: wrap
}

div#home-wrapper{
    display: flex;
    flex-direction: row;
    width:960px;
    margin-top: 300px;
    margin: 0 auto
}

#jobs-wrapper a img{
    width: 150px;
    height: 150px;
}

#jobs-wrapper label{
    display:none
}

#jobs-wrapper label.label-visible{
    display:inline-block;
    position:absolute;
    background: rgba(.03,.03,.03,.3);
    width: 150px;
    height: 150px
}