
ul.categories{
    display: flex;
    flex-direction: column;
    width: 100px;

}
ul.categories li{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 5px;

}

ul.categories li.selected{
    color: #841ec9;
    border: 1px;
    border-color: #ff6721;
    border-style: dashed
}

div.job{
    display: inline-block;
    margin: 10px
}


#jobs-wrapper{
    display: flex;
    flex-direction: row;
    margin-left:50px;
}

div#home-wrapper{
    display: flex;
    flex-direction: row;
    width:960px;
    margin-top: 300px
}